<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= SITE_TITLE %> <%=controller.controller_name %> : <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold', 'global', 'prettify.css' %>
<%= javascript_include_tag :defaults, 'prettify.js' %>
</head>
	<body>
	<div id="adminNav">
		<div id="adminRightFloater">
		<ul>
			<% unless logged_in?  %>
				<form action="/login" method="post">
					<li>Member Name: <%= text_field_tag 'name' %></li>
					<li>Pasword: <%= password_field_tag 'password' %></li>
					<li><%= submit_tag 'Login' %></li>
				
				<li><i>or</i> <a href="/signup/">Signup</a></li>
				<%= token_tag %>
				</form>
			<% else %>
			<li>Logged in as <%= current_member.name %>: </li>
			<li><%= link_to 'Profile', member_path(current_member) %></li>
			<li><%= link_to 'New hunt', new_hunt_path %></li>
			<li><a href='/logout'>Logout</a></li>
			<% end %>
		</ul>
	</div>
	</div>
<div id="wrapper">
	<div id="header">
		<h1><%= link_to 'Ashacache', hunts_path %></h1>
		<h2>A site for geocacheing enthusiasts </h2>
	</div>
	<ul id ="mainNav">
	<li><%= link_to "Contact Us", new_contact_path %></li>
	<li><%= link_to 'Search', query_path %></li>
	<li><%= link_to "FAQ", faqs_path %></li>
	<li><%= link_to 'Members', members_path %></li>
	<li><%= link_to 'Hunts', hunts_path %></li>
	</ul>
	<p class="flash" style="color: green"><%= flash[:notice] %></p>
<br clear="both" />
<%= yield  %>
</div>
<div id='copyright'>
	<ul>
	<li>&copy; 2008 Ashacache</li>
	<li><%= link_to "Password Reset", "/lost" %></li>
	<li><%= link_to "Documentation", documentation_path(1) %></li>
	<li><%= link_to "Presentation",  "http://docs.google.com/Present?docid=dgfnmjh_16gsrztmfj&invite=fs8jz4h" %></li>
</ul>
</div>
</body>
</html>