<div id="memberEditWrap">
	<h1>Edit member</h1>
	

<%= error_messages_for :member %>

<% form_for(@member) do |f| %>

<p>
    <b>New Password</b><br />
    <%= f.password_field :password, :value=>"" %>
  </p> 

<p>
    <b>New Password Again</b><br />
    <%= f.password_field :password_confirmation %>
  </p> 

  <p>
    <%= f.submit "Update Password" %>
  </p>
<% end %>

<%= link_to 'Show', @member %> |
<%= link_to 'Back', members_path %>
</div>